<h1> Product Index </h1>

<<<<<<< HEAD
  <%= form_tag root_path do %>
    <label> Add Item to Cart: </label>
    <%= text_field_tag :product %>
    <%= submit_tag "add to cart" %>
  <% end %>

  <h2>All Items in Cart</h2>
    <ul>
      <%= cart.each do |product| %>
        <li><%= product %></li>
      <% end %>
    </ul>
=======
<h2>Add Item to Cart<h2>

  <h2>All Items in Cart<h2>
>>>>>>> 661114d4eb3276e28328a2406179260b0fc7204b
